.gallery {
  padding: var(--space-6);
  gap: var(--space-8);
  height: 100%;
}

.gallery-section {
  gap: var(--space-3);
}

.gallery-row {
  gap: var(--space-3);
  align-items: center;
  flex-wrap: wrap;
}
